<!DOCTYPE web-app PUBLIC
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 <servlet>
    <servlet-name>httpServlet</servlet-name>
    <servlet-class>com.programmera.simpleorder.http.FrontController
    </servlet-class>
    <init-param>
      <param-name>db-server</param-name>
      <param-value>localhost</param-value>
    </init-param> 
    <init-param>
      <param-name>db-username</param-name>
      <param-value>simpleorder</param-value>
    </init-param> 
    <init-param>
      <param-name>db-password</param-name>
      <param-value>secret</param-value>
    </init-param> 
  </servlet>
  <servlet-mapping>
    <servlet-name>httpServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>

